.footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 1.5rem 1.5rem;
  background-color: var(--gray-50);

  p {
    text-align: center;
    color: var(--gray-20);
    &:nth-child(1) {
      color: var(--gray-10);
    }
  }
}
