@use "/src/styles/utils/mixins" as mix;

.footer {
  @include mix.flexbox(column, nowrap, center, center, 0);
  @include mix.px(2rem);
  @include mix.py(1.5rem);
  background-color: var(--gray-50);

  p {
    text-align: center;
    color: var(--gray-20);
    &:nth-child(1) {
      color: var(--gray-10);
    }
  }
}
