@use "/src/styles/utils/mixins" as mix;

// 스위치 버튼
.switch_checkbox {
  display: flex;
  align-items: center;

  label {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    span {
      @include mix.flexbox(row, nowrap, center, null, 0.5rem);
      color: var(--gray-20);
      img {
        width: 1.5rem;
      }
    }
  }

  .checkbox {
    @include mix.size(2.25rem, 1.25rem);
    @include mix.p(0);
    @include mix.m(0);
    appearance: none;
    position: relative;
    border-radius: 1.75rem;
    background-color: var(--gray-40);
    cursor: pointer;

    &::before {
      @include mix.size(0.75rem, 0.75rem);
      content: "";
      position: absolute;
      top: 50%;
      left: 0.25rem;
      border-radius: 0.75rem;
      background-color: var(--white);
      transform: translateY(-50%);
      transition: left 0.2s ease-in;
    }

    &:checked {
      &::before {
        left: calc(100% - 1rem);
      }
    }

    &:focus {
      outline-offset: max(2px);
      outline: 2px solid var(--mint);
    }

    &:disabled {
      opacity: 0.35;
      cursor: auto;
    }
  }
}
