@import 'tailwindcss';

:root {
  --gray-10: #8e8e93;
  --gray-20: #aeaeb2;
  --gray-30: #c7c7cc;
  --gray-40: #d1d1d6;
  --gray-50: #e5e5ea;
  --gray-60: #f2f2f7;
  --red: #ff3b30;
  --orange: #ff9500;
  --yellow: #ffcc00;
  --green: #34c759;
  --mint: #00c7be;
  --teal: #30b0c7;
  --cyan: #32ade6;
  --blue: #007aff;
  --indigo: #5856d6;
  --purple: #af52de;
  --pink: #ff2d55;
  --brown: #a2845e;
  --black: #121212;
  --white: #ffffff;
}

.dark:root {
  --gray-10: #8e8e93;
  --gray-20: #636366;
  --gray-30: #48484a;
  --gray-40: #3a3a3c;
  --gray-50: #2c2c2e;
  --gray-60: #1c1c1e;
  --red: #ff453a;
  --orange: #ff9f0a;
  --yellow: #ffd60a;
  --green: #30d158;
  --mint: #63e6e2;
  --teal: #40c8e0;
  --cyan: #64d2ff;
  --blue: #0a84ff;
  --indigo: #5e5ce6;
  --purple: #bf5af2;
  --pink: #ff375f;
  --brown: #ac8e68;
  --white: #121212;
  --black: #ffffff;
}

@theme inline {
  --color-primary: var(--indigo);
  --color-black: var(--black);
  --color-white: var(--white);
  --background: var(--gray-60);

  --color-gray-10: var(--gray-10);
  --color-gray-20: var(--gray-20);
  --color-gray-30: var(--gray-30);
  --color-gray-40: var(--gray-40);
  --color-gray-50: var(--gray-50);
  --color-gray-60: var(--gray-60);

  --color-red: var(--red);
  --color-orange: var(--orange);
  --color-yellow: var(--yellow);
  --color-green: var(--green);
  --color-mint: var(--mint);
  --color-teal: var(--teal);
  --color-cyan: var(--cyan);
  --color-blue: var(--blue);
  --color-indigo: var(--indigo);
  --color-purple: var(--purple);
  --color-pink: var(--pink);
  --color-brown: var(--brown);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  /* overflow: hidden; */
  /* height: 100vh; */
  background: var(--background);
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background: rgba(88, 86, 214, 0.8);
  color: var(--color-white);
}

#__next {
  overflow: hidden;
  height: 100%;
}
