@use "base" as *;
@use "foundations/typography" as *;
@use "theme/theme" as *;
@use "utils/mixins" as mix;

html,
body {
  margin: 0;
  padding: 0;
}

#react-app {
  height: 100vh;
  background-color: var(--gray-60);
}

/* 숨김 콘텐츠 */
.sr-only {
  @include mix.a11yHidden;
}
