@use "@/styles/abstracts/fonts" as *;
// * {
//   transition: all 0.4s ease-in-out;
// }

/* 기본 모바일 스타일 */
.resume {
  display: flex;
  flex-flow: column nowrap;
  // gap: 1.5rem;
}

.section_wrap {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  padding: 1.5rem 1rem;
  padding-block: 1.5rem;
  padding-inline: 1rem;

  h2 {
    @include hdg-md;
    width: fit-content;
    background: var(
      --gradient-accent,
      linear-gradient(90deg, #d11aff 0%, #ffe96e 100%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &::selection {
      background-color: #ffe96e;
      color: var(--gray-600);
      background-clip: initial;
      -webkit-background-clip: initial;
      -webkit-text-fill-color: var(--gray-600);
    }
    &::-moz-selection {
      background-color: #ffe96e;
      color: var(--gray-600);
    }
  }

  & + .section_wrap {
    gap: 0rem;
    padding: 1rem 1rem 1.5rem;
    padding-block-start: 1rem;
    padding-block-end: 1.5rem;
    padding-inline: 1rem;
  }
}

.experience_wrap {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

/* 데스크탑 스타일 */
@media (min-width: 768px) {
  .section_wrap {
    gap: 1rem;
    padding: 1.5rem 3rem;
    padding-block: 1.5rem;
    padding-inline: 3rem;
    & + .section_wrap {
      gap: 1rem;
    }
  }

  .experience_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}
