@use "@/styles/abstracts/fonts" as *;

.home {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.visual_section {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  padding: 1.5rem;
  padding-inline: 1.5rem;
  padding-block: 1.5rem;
  background: var(
    --gradient-accent,
    linear-gradient(90deg, #d11aff 0%, #ffe96e 100%)
  );

  h2 {
    @include hdg-sm;
    padding-bottom: 1rem;
    padding-block-end: 1rem;
    color: var(--gray-100);
  }

  dl {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    dt {
      @include hdg-sm;
      display: flex;
      flex-flow: column nowrap;
      gap: 1rem;
      color: var(--gray-100);
    }

    dd {
      @include body-sm;
      color: var(--gray-100);

      & + dd {
        @include lbl-sm;
        padding-top: 1rem;
        padding-block-start: 1rem;
        text-align: center;
      }
    }
  }
}

nav {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--gray-200);

  a {
    @include hdg-xs;
    flex: calc(50% - 0.25rem);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    text-decoration: none;
    border-radius: 0.5rem;
    background-color: var(--gray-100);
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.025);

    span {
      background: var(
        --gradient-accent,
        linear-gradient(90deg, #d11aff 0%, #ffe96e 100%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &::selection {
        background-color: #ffe96e;
        color: var(--gray-600); // 선택 시 투명 대신 텍스트 색상 사용
        background-clip: initial; // 선택 상태에서 배경 클립 해제
        -webkit-background-clip: initial; // 선택 상태에서 배경 클립 해제
        -webkit-text-fill-color: var(--gray-600); // 투명 제거
      }
      &::-moz-selection {
        background-color: #ffe96e;
        color: var(--gray-600);
      }
    }

    &:focus {
      outline-offset: 2px;
      outline: 2px solid var(--gray-500);
    }
  }

  .button_contact {
    @include hdg-xs;
    flex: calc(50% - 0.25rem);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    text-decoration: none;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--gray-100);
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.025);

    span {
      background: var(
        --gradient-accent,
        linear-gradient(90deg, #d11aff 0%, #ffe96e 100%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      &::selection {
        background-color: #ffe96e;
        color: var(--gray-700); // 선택 시 투명 대신 텍스트 색상 사용
        background-clip: initial; // 선택 상태에서 배경 클립 해제
        -webkit-background-clip: initial; // 선택 상태에서 배경 클립 해제
        -webkit-text-fill-color: var(--gray-700); // 투명 제거
      }
      &::-moz-selection {
        background-color: #ffe96e;
        color: var(--gray-700);
      }
    }

    &:focus {
      outline-offset: 2px;
      outline: 2px solid var(--gray-500);
    }
  }
}

.dialog_head {
  @include hdg-sm;
  display: inline-flex;
  padding-bottom: 1.5rem;
  background: var(
    --gradient-accent,
    linear-gradient(90deg, #d11aff 0%, #ffe96e 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dialog_body {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  li {
    @include body-sm;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.5rem;
    color: var(--gray-900);
    img {
      width: 1rem;
      height: 1rem;
    }
    a {
      text-decoration: none;
      color: var(--gray-900);
      border-radius: 0.25rem;
      &:focus {
        outline-offset: 2px;
        outline: 2px solid var(--gray-500);
      }
    }
  }
}

/* 데스크탑 스타일 */
@media (min-width: 768px) {
  nav {
    flex-flow: row nowrap;
    a {
      @include hdg-sm;
      gap: 2rem;
      img {
        width: 7.5rem;
        height: 7.5rem;
      }
    }
    .button_contact {
      @include hdg-sm;
      gap: 2rem;
      img {
        width: 7.5rem;
        height: 7.5rem;
      }
    }
  }
}
