@use "@/styles/abstracts/fonts" as *;

.list {
  display: flex;
  flex-flow: column nowrap;
}

.list_item {
  @include lbl-sm;
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem 0;
  padding-inline: 0;
  padding-block: 1rem;
  border-bottom: 1px solid var(--gray-300);
  &:nth-last-child(1) {
    border-bottom: none;
  }

  .tit {
    @include body-sm;
    color: var(--gray-900);
  }

  .sub_text {
    @include body-xs;
    color: var(--gray-600);
  }

  .chips {
    display: flex;
    flex-flow: row wrap;
    gap: 0.25rem;
    padding: 0.25rem 0rem 0.125rem;
    padding-inline: 0;
    padding-block-start: 0.25rem;
    padding-block-end: 0.125rem;
  }

  .chip {
    @include lbl-xs;
    display: flex;
    align-items: center;
    height: 1.5rem;
    padding: 0.125rem 0.5rem;
    padding-inline: 0.5rem;
    padding-block: 0.125rem;
    color: var(--gray-800);
    border-radius: 1.5rem;
    border: 1px solid var(--gray-400);
  }

  .date {
    @include lbl-xs;
    display: flex;
    flex-flow: row nowrap;
    gap: 0.25rem;
    padding: 0.25rem 0;
    padding-block: 0.25rem;
    color: var(--gray-800);
    img {
      width: 1rem;
      height: 1rem;
    }
  }
}

/* 데스크탑 스타일 */
@media (min-width: 768px) {
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;

    .list_item {
      padding: 1rem;
      padding-inline: 1rem;
      padding-block: 1rem;
      border: none;
      border-radius: 0.5rem;
      background-color: var(--gray-200);
    }
  }
}
