@use "/src/styles/utils/mixins" as mix;

.timeline {
  @include mix.flexbox(column, nowrap, null, null, 1rem);
  @include mix.pl(1.5rem);
  position: relative;
  &::before {
    @include mix.size(1px, 100%);
    content: "";
    position: absolute;
    top: 0;
    left: 4px;
    background-color: var(--gray-30);
  }
  li {
    @include mix.rounded(8);
    @include mix.p(1rem);
    position: relative;
    background-color: var(--white);
    &::before {
      @include mix.size(9px, 9px);
      @include mix.rounded(10);
      content: "";
      position: absolute;
      top: 8px;
      left: -24px;
      background-color: var(--gray-30);
    }
    span {
      color: var(--gray-10);
    }
    p {
      color: var(--black);
    }
  }
}
