@use "@/styles/abstracts/fonts" as *;

/* 기본 모바일 스타일 */
.projects {
  // display: flex;
  // flex-flow: column nowrap;
  // background-color: goldenrod;

  h2 {
    @include hdg-md;
    width: fit-content;
    padding: 1rem 1rem 0;
    padding-inline: 1rem;
    padding-block-start: 1rem;
    padding-block-end: 0rem;
    background: var(
      --gradient-accent,
      linear-gradient(90deg, #d11aff 0%, #ffe96e 100%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &::selection {
      background-color: #ffe96e;
      color: var(--gray-600);
      background-clip: initial;
      -webkit-background-clip: initial;
      -webkit-text-fill-color: var(--gray-600);
    }
    &::-moz-selection {
      background-color: #ffe96e;
      color: var(--gray-600);
    }
  }
}

.section_wrap {
  // flex: 1;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  padding: 1rem;
  padding-inline: 1rem;
  padding-block: 1rem;

  h3 {
    @include hdg-xs;
    color: var(--gray-900);
  }
}

.list {
  display: flex;
  flex-flow: column nowrap;
}
