@use "/src/styles/utils/mixins" as mix;

.wrap {
  @include mix.flexbox(column, nowrap, null, null, 3rem);
  @include mix.px(1.5rem);
  @include mix.pt(6rem);
  @include mix.pb(1.5rem);
  box-sizing: border-box;
  background-color: var(--gray-60);

  section {
    @include mix.flexbox(column, nowrap, null, null, 1rem);

    p {
      color: var(--gray-10);
    }

    .chip_set {
      @include mix.flexbox(row, wrap, null, null, 0.25rem);
    }

    .chip {
      @include mix.px(0.5rem);
      @include mix.py(0.25rem);
      @include mix.rounded(xs);
      color: var(--white);
      background-color: var(--black);
    }
  }
}
