* {
  transition: all 0.4s ease-in-out;
}

/* 기본 모바일 스타일 */
.visual {
  padding: 2.5rem;

  background: var(
    --gradient-accent,
    linear-gradient(90deg, #d11aff 0%, #ffe96e 100%)
  );

  & > div {
    max-width: 1160px;
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
    margin: auto;
  }

  h1 {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;

    & > span {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      color: var(--gray-100);

      & > img {
        width: 2rem;
        height: 2rem;
        margin-top: -4px;
      }
    }
  }

  p {
    color: rgba(255, 255, 255, 0.9);

    strong {
      font-weight: bold;
      color: var(--gray-100);
    }
  }

  dl {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    padding: 1rem 1.25rem;
    border-radius: 0.75rem;
    background: rgba(255, 255, 255, 0.25);

    dt {
      color: var(--gray-100);
      font-weight: bold;
    }

    dd {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 0.5rem;
      color: var(--gray-100);

      img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

/* 데스크탑 스타일 */
@media (min-width: 768px) {
  .visual {
    align-items: flex-start;
    padding: 8.75rem;

    h1 {
      & > span {
        & > img {
          width: 5rem;
          height: 5rem;
        }
      }
    }

    dl {
      flex-flow: row nowrap;
      gap: 3.5rem;
      padding: 1rem 2rem;
      border-radius: 3rem;

      dd {
        gap: 0.75rem;

        img {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}
