$gray-10: #8e8e93;
$gray-20: #636366;
$gray-30: #48484a;
$gray-40: #3a3a3c;
$gray-50: #2c2c2e;
$gray-60: #1c1c1e;

$red: #ff453a;
$orange: #ff9f0a;
$yellow: #ffd60a;
$green: #30d158;
$mint: #63e6e2;
$teal: #40c8e0;
$cyan: #64d2ff;
$blue: #0a84ff;
$indigo: #5e5ce6;
$purple: #bf5af2;
$pink: #ff375f;
$brown: #ac8e68;
