.wrap {
  box-sizing: border-box;
  height: 100%;
  padding-top: 3rem;
  h1 {
    margin: 0;
  }
}

.gray {
  list-style: none;
  margin: 0;
  padding: 0;
  li:nth-child(1) {
    background-color: var(--gray-10);
  }
  li:nth-child(2) {
    background-color: var(--gray-20);
  }
  li:nth-child(3) {
    background-color: var(--gray-30);
  }
  li:nth-child(4) {
    background-color: var(--gray-40);
  }
  li:nth-child(5) {
    background-color: var(--gray-50);
  }
  li:nth-child(6) {
    background-color: var(--gray-60);
  }
}
