.wrap {
  box-sizing: border-box;
  // height: 100%;
  padding-top: 3rem;
  padding: 6rem 1.5rem 1.5rem;
  // background-color: var(--white);
  background-color: lightgoldenrodyellow;
  h1 {
    margin: 0;
    color: var(--black);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      color: var(--black);
    }
  }
}

.gray {
  li:nth-child(1) {
    background-color: var(--gray-10);
  }
  li:nth-child(2) {
    background-color: var(--gray-20);
  }
  li:nth-child(3) {
    background-color: var(--gray-30);
  }
  li:nth-child(4) {
    background-color: var(--gray-40);
  }
  li:nth-child(5) {
    background-color: var(--gray-50);
  }
  li:nth-child(6) {
    background-color: var(--gray-60);
  }
}

.colors {
  li:nth-child(1) {
    background-color: var(--red);
  }
  li:nth-child(2) {
    background-color: var(--orange);
  }
  li:nth-child(3) {
    background-color: var(--yellow);
  }
  li:nth-child(4) {
    background-color: var(--green);
  }
  li:nth-child(5) {
    background-color: var(--mint);
  }
  li:nth-child(6) {
    background-color: var(--teal);
  }
  li:nth-child(7) {
    background-color: var(--cyan);
  }
  li:nth-child(8) {
    background-color: var(--blue);
  }
  li:nth-child(9) {
    background-color: var(--indigo);
  }
  li:nth-child(10) {
    background-color: var(--purple);
  }
  li:nth-child(11) {
    background-color: var(--pink);
  }
  li:nth-child(12) {
    background-color: var(--brown);
  }
}
