/* link_button */
.link_button {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  color: var(--gray-900);
  border: 1px solid var(--gray-400);
  border-radius: 0.25rem;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    background-color: var(--gray-200);
    & > img {
      width: 2rem;
      height: 2rem;
    }
  }

  &:hover {
    background-color: var(--gray-200);
    span {
      background-color: var(--gray-100);
    }
  }
}

/* link_button_group */
.link_button_group {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  li {
    flex: 1;
  }
}
