@font-face {
  font-family: "Gmarket Sans";
  font-style: normal;
  font-weight: 300; // light
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Gmarket Sans";
  font-style: normal;
  font-weight: 500; // regular(medium)
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Gmarket Sans";
  font-style: normal;
  font-weight: 700; // bold
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-display: swap;
}
