@use "@/styles/abstracts/fonts" as *;

.error {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 0 1rem;
  background-color: var(--gray-200);

  section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 0.5rem;

    & > h1 {
      @include hdg-md;
    }

    & > p {
      @include body-sm;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }

    & > img {
      order: -1;
      width: 5rem;
      height: 5rem;
    }
  }

  .desc {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.25rem;
    padding: 1.5rem;
    color: var(--gray-200);
    border-radius: 0.5rem;
    background-color: var(--gray-700);

    & > p {
      @include body-sm;
      & + p {
        @include lbl-sm;
      }
    }
  }

  & > a {
    @include body-sm;
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding: 0.125rem 1.5rem 0rem;
    text-decoration: none;
    color: var(--gray-100);
    border-radius: 2.5rem;
    background-color: var(--gray-600);
    &:hover {
      background-color: var(--gray-500);
    }
  }
}
